@forward './globals/';
@import './globals/variables.scss';

.profile-container {
    display: grid;
    place-content: center;
    background-color: $neutral-clr-darkGrey;
    text-align: center;
    margin-inline: 1.2em;
    padding: 2em;
    border-radius: 10px;

    .profile-info {

        .profile-avatar {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            overflow: hidden;
            margin-inline: auto;
            margin-bottom: 1.8em;
        }

        .location {
            color: $primary-clr-green;
            margin-bottom: 1.4em;
            margin-top: .4em;
        }
    }

    .profile-links {
        margin-top: 1.3em;

        a {
            color: inherit;
            text-decoration: none;
        }

        button {
            background-color: $neutral-clr-grey;
            color: inherit;
            border: none;
            border-radius: 5px;
            display: block;
            width: 100%;
            padding: .8em;
            font: inherit;

            &:not(:first-child) {
                margin-top: .8em;
            }
            
            &:hover {
                background-color: $primary-clr-green;
                color: black;
                cursor: pointer;
            }
        }
    }
}

footer {
    margin-top: 2em;
    margin-inline: 1.5em;
    text-align: center;
}